.swiper-button-next,
.swiper-button-prev {
    color: #6B7280; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; 
    position: absolute;
}

.swiper-button-next {
    right: -20px;
}

.swiper-button-prev {
    left: -20px; 
}

.custom-swiper {
    padding-left: 20px; 
    padding-right: 20px; 
    overflow: visible; 
    position: relative; 
}

@media(max-width: 480px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none; 
    }
    
}
