/* style.css */
.poster-container {
  position: relative;
}

.movie-poster {
  width: 100%;
  height: auto;
}

.fallback-poster {
  width: 100%;
  height: 100%;
  background-color: grey;
}

.swiper-pagination-bullet {
  width: auto;
  height: auto;
  text-align: center;
  line-height: normal;
  font-size: 12px;
  color: #9CA3AF;
  background: none;
  opacity: 1;
  margin: 0 5px;
  position: relative;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: none;
  font-size: 16px;
}

.swiper-pagination-bullet-active::before {
  content: '';
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 2px;
  background-color: #fff;
}


