.search-wrapper {
    width: 100%;
    max-width: 525px; /* 'width' property yerine 'max-width' kullanarak responsive hale getiriyoruz */
    margin: 0 auto;
    position: relative; 
}

.search-container {
    position: relative;
}

.search-input {
    width: 100%;
    padding: 12px 40px 12px 16px;
    border: 2px solid #fff;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: background 0.3s ease;
}

.search-input::placeholder {
    color: #fff;
}

.search-input:focus {
    background: rgba(255, 255, 255, 0.2);
}

.search-button {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: #fff;
}

.search-results {
    position: absolute; 
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 6px;
    padding: 10px;
    z-index: 10;
    max-height: 300px; 
    overflow-y: auto;  
}

.search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.9);
}

.search-result-item:last-child {
    border-bottom: none;
}

.result-poster {
    width: 50px;
    height: 75px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 10px;
}

.result-info h3 {
    margin: 0;
    font-size: 16px;
    color: #000;
}

.result-info p {
    margin: 0;
    color: #9CA3AF;
}

@media (max-width: 768px) {
    .search-wrapper {
        max-width: 100%;
        padding: 0 10px; 
    }

    .search-input {
        padding: 10px 35px 10px 14px; 
        font-size: 14px; 
    }

    .search-button {
        right: 10px;
    }

    .search-results {
        padding: 8px; 
    }

    .search-result-item {
        padding: 8px; 
    }

    .result-poster {
        width: 40px;
        height: 60px; 
        margin-right: 8px; 
    }

    .result-info h3 {
        font-size: 14px; 
    }

    .result-info p {
        font-size: 12px; 
    }
}

@media (min-width: 1280px) {
    .search-wrapper {
        width: 525px;
    }
}
